/* Global Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* Sidebar */

.sidebar {
    position: fixed;
    width: 70px;
    height: 100%;
    background: #333;
    border-radius: 10px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.sidebar a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background: #555;
    transform: translateX(5px);
}

.sidebar i {
    margin-right: 10px;
}

/* Welcome Message */

.welcome-message {
    position: absolute;
    top: 30px;
    left: 100px;
    /* Adjust based on sidebar width */
    font-size: 30px;
    color: #999191;
}

/* Box Styles */

.boxes-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxes {
    display: flex;
}

.box {
    width: 200px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    font-family: sans-serif;
    border: 1px solid greenyellow;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
}

.box-text {
    text-align: center;
    color: white;
    font-size: 18px;
}

h3 {
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 24px;
}