<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pagina_principal_stylee.css">
    <script src="https://kit.fontawesome.com/05e97a8a42.js" crossorigin="anonymous"></script>
    <title>Pagina Principal</title>
</head>

<body>
    <div class="sidebar">
        <div class="top">
            <a href="#"><i class="fas fa-user"></i></a>
        </div>
        <div class="middle">
            <a href="#"><i class="fas fa-chart-line"></i></a>
            <a href="#"><i class="fas fa-truck"></i></a>
            <a href="#"><i class="fas fa-users"></i></a>
        </div>
        <div class="bottom">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        
    </div>

    <div class="welcome-message">
        Welcome, <%= companyName %>
    </div>
</body>

</html>