* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    background: white;
  }

  .login-box {
    width: 400px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
  }

  .login-box h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }

.textbox {
  position: relative;
  margin-bottom: 20px;
}

.textbox input {
  width: 100%;
  padding: 12px 20px 12px 50px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  background: #f8f8f8;
}

.textbox i {
  position: absolute;
  left: 20px;
  top: 14px;
  color: #aaa;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 40px;
  border: 2px solid #007bff;
  border-radius: 25px;
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #0062cc;
}

.links {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 2px solid #007bff;
  padding-bottom: 2px;
  border-radius: 3px;
}

.links a:hover {
  background: #007bff;
  color: #fff;
}

.social-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  width: 36px;
  height: 36px;
  background-color: #f1f1f1;
  color: #666;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 1.2em;
  line-height: 36px;
  text-align: center;
}

.social-icons a:hover {
  background-color: #007bff;
  color: #fff;
}